<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>protected</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>auth_user</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>KEYCLOAK</auth-method>
		<realm-name>portal</realm-name>
	</login-config>

	<security-role>
		<role-name>auth_user</role-name>
	</security-role>
	
	<context-param>
		<param-name>org.omnifaces.SOCKET_ENDPOINT_ENABLED</param-name>
		<param-value>true</param-value>
	</context-param>
</web-app>